.footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 10em 0;
}

.foot-icons{
 
   display: flex;
   align-items: center;
   justify-content: center;
    margin-top: 1em;

}

.foot-icons i{
    
    color: gray;
    font-size: 1em;
    padding: 0 2em;
}